@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Roboto", sans-serif;
}

body {
    background-color: #121212;
}

a {
    text-decoration: none;
    color: whitesmoke
}

.navbar {
   position: fixed;
   top: 0;
   left: 0;  
   width: 100%;
   padding: 25px 9%;
   display: flex;
   justify-content: space-between;  
   align-items: center;
   z-index: 100;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;   
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #5b0069
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    padding: 120px 9% 40px;
    gap: 35px;
    color: whitesmoke;
}

.home .home-info h1 {
    font-size: 55px;
    }

.home .home-info h2 {
    font-size: 32px;
    margin-top: -10px;
}

.home .home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home .home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: #5b0069;
    border: 2px solid #5b0069;
    border-radius: 40px;
    box-shadow: 0 0 10px #5b0069;
    font-size: 16px;
    font-weight: 600;
    color: #0a0a0a;
    transition: .5s;
}

.btn:hover {
    background-color: transparent;
    color: #5b0069;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a {
   display: inline-flex;
   padding: 8px;
   border: 2px solid #5b0069;
   border-radius: 50%;
   font-size: 20px;
   color: #5b0069;
   margin: 0 8px;
   transition: .5s;
}

.home-info .btn-sci .sci a:hover {
    background-color: #5b0069;
    color: #080808;
    box-shadow: 0 0 10px #5b0069;
}

.home-img .img-box {    
    width: 32vw;
    height: 32vw;
    background: #5b0069;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(121, 109, 195);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow:hidden;
    z-index: 1;
}

.home-img .img-box .img-item img {
    top: 15%;
    position:absolute;
    display: block;
    width: 85%;
    object-fit: cover;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #121212;
    color: whitesmoke;
    font-size: 14px;
}

@media (min-width: 700px) {
  .home {
    flex-direction: row; /* content goes side-by-side */
    justify-content: space-between;
    text-align: left; /* reset text alignment for desktop */
    height: 100vh;
    padding: 60px 9% 0;
  }
}
